body {
  background-color: #d2e4c2;
}

div.flex-table {
  display: flex;
  flex-direction: column;
}

div.flex-table > div {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

div.flex-table > div > div {
  flex-grow: 1;
}

div.box {
  background-color: white;
  padding: 15px;
  border: 2px solid black;
}

div.container {
  margin: 0 5em;
}

div.container header div.flex-table div:first-child div:first-child {
  flex-grow: 0;
  display: grid;
  align-items: center;
}

div.container header div.flex-table div:first-child div:last-child {
  padding: 32px;
}

div.container header div.flex-table div:first-child div:last-child h1 {
  margin: 0px;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  padding: 1em 0px;
}

div.container a {
  text-decoration: none;
}

div.container a:hover {
  text-decoration: underline;
}

div.container nav {
  text-align: center;
}

div.container hr {
  border: 1px solid black;
}

div.container main div.flex-table div:first-child div:last-child {
  flex-grow: 0;
}

div.container main dl {
  margin: 0px;
  font-family: monospace;
}

div.container main dl dt {
  margin-top: 10px;
}
